ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 125px;
  height: 125px;
  margin-bottom: 1px;
  margin-right: 1px;
  background-color: #00B2A9;
  outline: 1px solid #414645;
}

p {
  text-align: center;
}
