.index-wrapper {
  margin: 30px auto;
}

.index {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.index-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 125px;
  height: 125px;
  margin-bottom: 1px;
  margin-right: 1px;
  outline: 1px solid #414645;
  background-color: #00B2A9;
}

.index-item p {
  text-align: center;
}
